@font-face {
  font-family: 'KBO-Dia-Gothic_light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_light.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


:root {
  --color-black: black;
  --color-white: white;
  --color-hover: #eeebeb;
  --color-brand: #8480cf;
  --color-border: #e4e4e4;
  --color-grad: linear-gradient(111deg, #8480cfec 0%, #94bbe9 68%);
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'KBO-Dia-Gothic_light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    background-color: var(--color-brand);
    color: white;
  }

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;