@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background-color: var(--color-brand);
  color: white;
}

:root {
  --color-black: black;
  --color-white: white;
  --color-hover: #eeebeb;
  --color-brand: #8480cf;
  --color-border: #e4e4e4;
  --color-grad: linear-gradient(111deg, #8480cfec 0%, #94bbe9 68%);
  overflow-x: hidden;
  @apply bg-white;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'GowunDodum-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 767px) {
  body {
    padding: 0 0.5rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;